@import '../../app/navbar/navbar.component.css';
@font-face {
    src: url(../../assets/fonts/myfont2.otf);
    font-family: nos;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Chakra Petch', sans-serif;
}

.sectionOne {
    min-height: 100vh;
    width: 100%;
    top: 54px;
    background-image: linear-gradient(rgba(56, 60, 77, 0.7), rgba(56, 60, 77, 0.7)), url(../../assets/HomeImg/backgroundHome.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    transition: opacity 1s, margin-top 1s;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
}

.text-box h1 {
    font-size: 6vw; /* Adjust font size for responsiveness */
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 4vw; /* Adjust font size for responsiveness */
    color: white;
}

.sectionTwo {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    height: auto; /* Make the height auto for better responsiveness */
    background-color: white;
}

.row a:hover {
    border: 20px solid black;
    border-radius: 100%;
    transition: .3s;
}

.row h2 {
    color: black;
}

.row {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 768px) {
    .row {
        margin-top: 5%;
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center align the items horizontally */
        justify-content: center; /* Center align the items vertically */
    }    

    .text-box h1 {
        font-size: 8vw; /* Adjust font size for smaller screens */
    }
    
    .text-box p {
        margin: 10px 0 40px;
        font-size: 5vw; /* Adjust font size for smaller screens */
    }
}

@media only screen and (max-width: 500px) {
    .row {
        margin-top: 5%;
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center align the items horizontally */
        justify-content: center; /* Center align the items vertically */
    }    

    .text-box h1 {
        font-size: 10vw; /* Adjust font size for smaller screens */
    }
    
    .text-box p {
        margin: 10px 0 40px;
        font-size: 6vw; /* Adjust font size for smaller screens */
    }
}
