body {
  background: #1a1a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.forfun-page {
  text-align: center;
  margin-top: 50px;
  color: rgb(210, 23, 23);
}

.quiz-header img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-section h2 {
  color: #620a0a;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.card {
  background: #282828;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  transform: perspective(1000px) rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover {
  transform: perspective(1000px) rotateY(10deg);
}

.option-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.option-button.correct {
  background-color: #28a745 !important;
}

.option-button.incorrect {
  background-color: #dc3545 !important;
}

.option-button:hover {
  background-color: #c60055;
  transform: scale(1.05);
}

.option-button span {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  color: #ff4081;
  margin-right: 15px;
  font-weight: bold;
}

.save-button {
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #218838;
}

.score-bar {
  margin-top: 20px;
}

.score-section {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
