<meta charset="UTF-8">
<title> books </title>
<script src="https://kit.fontawesome.com/92d42647e8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="sectionOne">
  <img class="bannerImg" src="../../assets/Bookimg/collectorImg/collector2.jpg">
</section>



<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Dr-E_5l6YrM?si=RwYjXAmHERLBFUK1" frameborder="0"
    allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="content">
  <h1>OVERVIEW</h1>
  <p>
    #1 New York Times bestselling author Daniel Silva delivers another stunning thriller in his action-packed tale of high stakes international intrigue.

On the morning after the Venice Preservation Society’s annual black-tie gala, art restorer and legendary spy Gabriel Allon enters his favorite coffee bar on the island of Murano to find General Cesare Ferrari, the commander of the Art Squad, eagerly awaiting his arrival. The Carabinieri have made a startling discovery in the Amalfi villa of a murdered South African shipping tycoon—a secret vault containing an empty frame and stretcher matching the dimensions of the world’s most valuable missing painting. General Ferrari asks Gabriel to quietly track down the artwork before the trail goes cold.
  </p>
</div>
<div class="cover">
  <img src="../../assets/Bookimg/collectorImg/collector1.jpg">
</div>
