@font-face {
    src: url(../../assets/fonts/myfont2.otf);
    font-family: nos;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: auto;
    overflow-y: scroll;
}

.bannerImg {
    width: 100%;
    height: 45vh; 
    border-style: none;
    position: absolute;
    top: 3.5vw; 
    left: 50%;
    transform: translateX(-50%);
}

.image {
    margin-bottom: 20vh; 
}

.video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    margin-top: 60vh; 
}

.video iframe {
    width: 75%;
    height: 75%;
    position: absolute;
    left: 13%;
}

.content {
    position: relative;
    width: 50%;
    left: 13%;
    transition: 0.5s;
    margin-bottom: 4vh; 
}

.content h1 {
    color: #151515;
    font: 800 
    26px/3vw RobotoCondensed, Trebuchet MS, Helvetica, Arial, sans-serif; 
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 11vh; 
}
    
.content p {
    color: #202020;
    font: 400 1.1vw/1.3 Regular, Trebuchet MS, Helvetica, Arial, sans-serif; 
    letter-spacing: 0.5px;
    width: 100%;
    line-height: 1.5;
}
    
.cover img {
    float: right;
    margin: -13vw 1vw 2vh 0; 
    height: 65.5vh; 
    overflow: hidden;
}
    
    
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
    
.card {
    height: 40vh; 
    width: 10vw; 
    background: black;
    border-radius: 10px;
    margin: 0.5vw ; 
    overflow: hidden;
    position: relative;
    transition: all 0.2s;
    right: 12%;
    margin-top: -300px;
}

.card img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
}
    
.characterImg:hover {
    bottom: 0;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
    
.card .info {
    width: 100%;
    background: linear-gradient(to top, #000 40%, transparent);
    position: absolute;
    bottom: -20vw; 
    transition: all 0.2s;
    color: white;
    padding: 1.8vw; 
    padding-right: 1vw; 
    font: 400 1.6vw/1.3 Regular, Trebuchet MS, Helvetica, Arial, sans-serif; 
}
    
.card:hover .info {
    bottom: 0;
    transition: all 0.2s;
}
    
.card .top-bg {
    height: 5vw; 
    width: 100%;
    background: linear-gradient(to bottom, #000 4%, transparent);
    position: absolute;
    top: 0;
    transition: all 0.2s;
}
    
.card .info .books-name {
    margin-top: 2.5vw; 
    font-size: 1vw; 
}

ul {
    position:absolute;
    top:56%;
    left:95.2%;
    transform:translate(-50%,-50%);
    margin:0;
    padding:0;
    display:flex;
}

ul li {
    list-style:none;
}

ul li a {
    display:block;
    position:relative;
    width:30px;
    height:30px;
    line-height:30px;
    font-size:20px;
    text-align:center;
    text-decoration:none;
    color:#404040;
    margin: 0 10px;
    transition:.5s;
}

ul li a.facebook:hover {
    color: #3b5998;
}
  
ul li a.facebook:hover span {
    background: #3b5998;
}

ul li a.twitter:hover {
    color: #1da1f2;
}

ul li a.twitter:hover span { 
    background: #1da1f2;
}

ul li a.instagram:hover {
    color: #c32aa3;
}

ul li a.instagram:hover span { 
    background: #c32aa3;
}

ul li a:hover:nth-child(3) {
    color: #c32aa3;
}

ul li a span {
    position:absolute;
    transition: transform .5s;
}

ul li a span:nth-child(1),
ul li a span:nth-child(3){
    width:100%;
    height:3px;
    background:#404040;
}

ul li a span:nth-child(1) {
    top:0;
    left:0;
    transform-origin: right;
}

ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
}
  
ul li a span:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: left;
}

ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
}
  
ul li a span:nth-child(2){
    width:3px;
    height:100%;
    background:#404040;
}
  
ul li a span:nth-child(2) {
    top:0;
    left:0;
    transform:scale(0);
    transform-origin: bottom;
}

ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
}

@media only screen and (max-width : 600px){
    .bannerImg {
        width: 100%;
        height: 35vh; 
        border-style: none;
        position: absolute;
        top: 14vw; 
        left: 50%;
        transform: translateX(-50%);
    }

    .card {
        height: 30vh; 
        width: 17vw; 
        background: black;
        border-radius: 10px;
        margin: 0.5vw ; 
        overflow: hidden;
        position: relative;
        transition: all 0.2s;
        right: 0;
        margin-top: 25px;
    }

    .cover img {
        margin: 2vh auto;
        float: none;
        height: auto;
        width: 50%;
        display: block;
    }

    .content {
        position: relative;
        width: 50%;
        left: 25%;
        transition: 0.5s;
        margin-bottom: 4vh; 
    }

    .content p {
        color: #202020;
        font: 400 2vw/1.3 Regular, Trebuchet MS, Helvetica, Arial, sans-serif; 
        letter-spacing: 0.5px;
        width: 100%;
        line-height: 1.5;
    }

    ul {
        position:absolute;
        top:46%;
        left:76%;
        transform:translate(-50%,-50%);
        margin:0;
        padding:0;
        display:flex;
    }

    .card .info .books-name {
        font-size: 5vw;
    }
}
@media only screen and (min-width : 768px) and (max-width :786px){
    ul {
        position:absolute;
        top:50%;
        left:90%;
        transform:translate(-50%,-50%);
        margin:0;
        padding:0;
        display:flex;
    }

    .card {
        height: 30vh; 
        width: 17vw; 
        background: black;
        border-radius: 10px;
        margin: 0.5vw ; 
        overflow: hidden;
        position: relative;
        transition: all 0.2s;
        right: 0;
        margin-top: 25px;
    }

    .cover img {
        margin: 2vh auto;
        float: none;
        height: auto;
        width: 50%;
        display: block;
    }

    .content {
        position: relative;
        width: 50%;
        left: 25%;
        transition: 0.5s;
        margin-bottom: 4vh; 
    }

    .content p {
        color: #202020;
        font: 400 2vw/1.3 Regular, Trebuchet MS, Helvetica, Arial, sans-serif; 
        letter-spacing: 0.5px;
        width: 100%;
        line-height: 1.5;
    }

    .card .info .books-name {
        font-size: 5vw;
    }
}

@media only screen and (min-width : 653px) and (max-width :1368px){
    ul {
        position:absolute;
        top:40%;
        left:90%;
        transform:translate(-50%,-50%);
        margin:0;
        padding:0;
        display:flex;
    }

    .card {
        height: 40vh; 
        width: 17vw; 
        background: black;
        border-radius: 10px;
        margin: 0.5vw ; 
        overflow: hidden;
        position: relative;
        transition: all 0.2s;
        right: 0;
        margin-top: 25px;
    }

    .cover img {
        margin: 2vh auto;
        float: none;
        height: auto;
        width: 50%;
        display: block;
    }

    .content {
        position: relative;
        width: 50%;
        left: 25%;
        transition: 0.5s;
        margin-bottom: 4vh; 
    }

    .content p {
        color: #202020;
        font: 400 2vw/1.3 Regular, Trebuchet MS, Helvetica, Arial, sans-serif; 
        letter-spacing: 0.5px;
        width: 100%;
        line-height: 1.5;
    }

    .bannerImg {
        width: 100%;
        height: 35vh; 
        border-style: none;
        position: absolute;
        margin-top: 4%; 
        left: 50%;
        transform: translateX(-50%);
    }

    .video {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        overflow: hidden;
        margin-top: 70vh; 
    }

    .card .info .books-name {
        font-size: 5vw;
    }
}