<meta charset="UTF-8">
<title> books </title>

<script src="https://kit.fontawesome.com/92d42647e8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<section class="sectionOne">
  <img class="bannerImg" src="../../assets/Bookimg/thecatImg/thecat2.jpg">
</section>



<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/4seswSYgB5w?si=NcozkbSNlu6Q5tLr" frameborder="0"
    allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>


<div class="content">
  <h1>OVERVIEW</h1>
  <p>
    The one and only Cat in the Hat from the iconic Dr. Seuss – now available in ebook. Read this roller-coaster ride of mayhem anytime, anywhere!

    (This ebook is optimised for Kindle tablets and the Kindle App. It is not suitable for e-Ink kindle devices, such as the PaperWhite. We recommend you download a sample to your device before purchase if in doubt.)
    
    When Sally and her brother are left alone, they think they're in for a dull day – until the Cat in the Hat steps in on the mat, bringing with him mayhem and madness! This is the classic book that every child should have the joy of reading.
    
    With his unique combination of hilarious stories, zany pictures and riotous rhymes, Dr. Seuss has been delighting young children and helping them learn to read for over fifty years. Creator of the wonderfully anarchic Cat in the Hat, and ranked among the UK’s top ten favourite children’s authors, Dr. Seuss is a global best-seller, with over half a billion books sold worldwide.
  </p>
</div>
<div class="cover">
  <img src="../../assets/Bookimg/thecatImg/thecat1.jpg">
</div>
