<meta charset="UTF-8">
<title> books </title>
<script src="https://kit.fontawesome.com/92d42647e8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="sectionOne">
  <img class="bannerImg" src="../../assets/Bookimg/hopelessImg/hopeless.jpg">
</section>



<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/zanOqBPTivc?si=wrwqlKJNkaRBG2VF" frameborder="0"
    allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>


<div class="content">
  <h1>OVERVIEW</h1>
  <p>
    From the #1 New York Times bestselling author of  It Ends With Us comes the beginning of Sky and Dean’s passionate love story – where well-kept secrets threaten to open wounds of a dark past.

Would you rather know a truth that makes you feel hopeless, or keep believing the lies?

Beloved and bestselling author Colleen Hoover returns with the spellbinding story of two young people with devastating pasts who embark on a passionate, intriguing journey to discover the lessons of life, love, trust – and above all, the healing power that only truth can bring.

Sky, a senior in high school, meets Dean Holder, a guy with a promiscuous reputation that rivals her own. From their very first encounter, he terrifies and captivates her. Something about him sparks memories of her deeply troubled past, a time she’s tried so hard to bury. Though Sky is determined to stay far away from him, his unwavering pursuit and enigmatic smile break down her defenses and the intensity of the bond between them grows. But the mysterious Holder has been keeping secrets of his own, and once they are revealed, Sky is changed forever and her ability to trust may be a casualty of the truth.
  </p>
</div>

<div class="cover">
  <img src="../../assets/Bookimg/hopelessImg/hopeless2.jpg">
</div>

