@font-face{
  src: url(../../assets/fonts/Contenderfreeversion-eZ596.otf);
  font-family: king;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.logo{
  line-height: 54px;
  height: 54px;
}

nav{
  height: 54px;
  width: 100%;
  background: black;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

nav ul{
  float: right;
  margin-right: 10px;
  font-family: king;
}

nav li{
  display: inline-block;
  line-height: 54px;
}

nav a{
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

nav a:hover{
  color: red;
  border: 1px solid red;
  transition: .5s;
}

nav #icon{
  color: white;
  font-size: 22px;
  line-height: 54px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  min-width: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.open {
  display: block;
}  
  
.dropdown-menu li {
  margin-bottom: 5px;
}
  
.dropdown-menu li:last-child {
 margin-bottom: 0;
}
  
.dropdown-menu li a {
  display: block;
  padding: 5px;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdown-menu li a.logout {
  color: #000;
}
  
.dropdown-menu li a:hover {
  background-color: transparent;
}

.default-icon {
  width: 35px; 
  height: 35px;
  border-radius: 50%;
}
  
.icon-image{
  width: 35px; 
  height: 35px;
  border-radius: 50%;
}

@media (max-width: 700px){
  nav #icon{
    display: block;
  }

  nav ul{
    margin-right: 0px;
    position: fixed;
    width: auto;
    height: 100vh;
    background-color: #361eee;
    top: 54px;
    right: -200px;
    text-align: center;
    transition: all .5s;
  }

  nav ul.show {
    right: 0;
  }

  nav li{
    display: block;
  }

  nav ul a{
    padding: 25px;
  }

  a:hover{
    border: none;
    color: black;
    transition: .5s;
  }
  ul.show {
    display: block;
  }

  li.dropdown {
    position: relative;
  }

  li.dropdown ul.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    /*background-color: #ee1e25;*/
    width: 100%;
  }

  li.dropdown:hover ul.dropdown-menu {
    display: block;
  }

  li.dropdown ul.dropdown-menu li {
    display: block;
    margin-bottom: 0;
  }

  li.dropdown ul.dropdown-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  nav a:hover{
    color: #000;
    border: 1px solid #000;
    transition: .5s;
  }
}
