<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<div class="card-container">
  <div class="card">
    <div class="text-center">
      <h1>Login</h1>
    </div>
    <form (ngSubmit)="login()">
      <div class="mb-3">
        <label for="userNameInput" class="form-label">User Name</label>
        <div class="input-with-icon">
          <i class="far fa-user"></i>
          <input type="text" class="form-control" id="userNameInput" [(ngModel)]="userName" name="userName">
        </div>
      </div>
      <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <div class="input-with-icon">
          <i class="fas fa-lock"></i>
          <input type="password" class="form-control" id="passwordInput" [(ngModel)]="password" name="password">
        </div>
      </div>
      <div *ngIf="!isFormValid" class="error-message">
        Please fill in all the fields.
      </div>
      <div *ngIf="loginStatus" class="login-status">
        {{ loginStatus }}
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-sign-in"></i> Login
      </button>
    </form>
    <a routerLink="/signup">New user? Click here to sign up</a>
  </div>
</div>
