<meta charset="UTF-8">
<title> books </title>
<script src="https://kit.fontawesome.com/92d42647e8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="sectionOne">
  <img class="bannerImg" src="../../assets/Bookimg/maybeImg/maybe2.jpg">
</section>



<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/2ZlpemVqyuk?si=Yx7pBjIw_3C84ANT" frameborder="0"
    allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class="content">
  <h1>OVERVIEW</h1>
  <p>
    From the #1 Sunday Times bestselling author of It Ends With Us comes a passionate tale of friendship, betrayal, and romance.

At twenty-two years old, Sydney is enjoying a great life: She’s in college, working a steady job, in love with her wonderful boyfriend, Hunter, and rooming with her best friend, Tori. But everything changes when she discovers that Hunter is cheating on her—and she’s forced to decide what her next move should be.

Soon, Sydney finds herself captivated by her mysterious and attractive neighbour, Ridge. She can't take her eyes off him or stop listening to the passionate way he plays his guitar every evening out on his balcony. And there’s something about Sydney that Ridge can’t ignore, either. They soon find themselves needing each other in more ways than one.
  </p>
</div>
<div class="cover">
  <img src="../../assets/Bookimg/maybeImg/maybe1.jpg">
</div>


